.BordaCard{

background-color: #ffff;
box-shadow: 1px 1px 10px;
width: 250px;
border-radius: 7px;


}

.InfoProduto{
font-size: 15px;
padding-bottom: 50px;
padding-top: 20px;

}

.ImgFarm{

width: 250px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;


}

.Container{
display: flex;
justify-content: space-around;

}