.BordaCard{

background-color: #ffff;
width: 250px;
border-radius: 7px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.InfoProduto{
font-size: 20px;
padding-bottom: 50px;
padding-top: 20px;
text-align: center;

}

.ImgFarm{

width: 250px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;


}

.Container{
display: flex;
justify-content: space-around;
margin-top: 200px;
margin-bottom: 200px;
font-family: 'Poppins', sans-serif;
color: #ce1f3a;
font-weight: bolder;

}

.Comprar{
    background-color: #ce1f3a;
    border: none;
    padding: 5px;
    border-radius: 3px;
    width: 200px;
    font-size: 20px;
    color: #ffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
margin-left: 25px;
margin-bottom: 10px;
}

.Comprar:hover{

    transform: scale(1.1);


}