footer{

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #ffff;

    font-family: "Poppins", sans-serif;
    display: flex;
    



}

.infos{

color: #ce1f3a;
margin-left: 20px;

}

.LogoFooter{

width: 200px;


}

